<mat-sidenav-container class="container">
    <mat-sidenav mode = "side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">event</i>
                Agenda
            </a>
            <a mat-list-item>
                <i class="material-icons">paid</i>
                Financeiro
            </a>
            <a routerLink="catservico" mat-list-item>
                <i class="material-icons">content_cut</i>
                Serviços
            </a>
            <a routerLink="catproduto" mat-list-item>
                <i class="material-icons">local_grocery_store</i>
                Produtos
            </a>
            <a routerLink="catprofissional" mat-list-item>
                <i class="material-icons">badge</i>
                Profissionais
            </a>
            <a routerLink="clientes" mat-list-item>
                <i class="material-icons">diamond</i>
                Clientes
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
