.container{
    background-color: #777;
    height: 75%;
}

i {
    padding-right: 0.6rem;
}

mat-nav-list{
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    height: 99%;
}

a{
    padding-bottom: 0.5rem;
}