<div class="content">
    <div class="title">
        <h1>
            Profissionais
        </h1>
    </div>
    <button mat-raised-button color="primary">Novo Profissional</button>
    <div class="mat-elevation-z8 content-table">
        <table class="tabela" mat-table [dataSource] = "catprofissionallista">
            <ng-container matColumnDef="nomeCatProfissional">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let row"> {{ row.nomeCatProfissional }} </td>
            </ng-container>

            <ng-container matColumnDef="descCatProfissional">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let row"> {{ row.descCatProfissional }} </td>
            </ng-container>

            <ng-container matColumnDef="Profissionais">
                <th mat-header-cell *matHeaderCellDef> Serviços </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#">
                        <i class="material-icons servicos">sports</i>
                    </a>
                </td>
              </ng-container>
          
            <ng-container matColumnDef="acoes">
              <th class="mat-header" mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let row">
                  <a class="edit" href="#">
                      <i class="material-icons">edit</i>
                  </a>
                  <a class="delete" href="#">
                    <i class="material-icons">delete</i>
                </a>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </div>
      
</div>
