<div class="content">
  <div class="title">
    <h1>Produtos/Estoque</h1>
  </div>
  <button mat-raised-button (click)="irParaProdutosCreate()" color="primary">
    Novo Produto
  </button>
  <div class="mat-elevation-z8 content-table">
    <table class="tabela" mat-table [dataSource]="produtoslista">
      <ng-container matColumnDef="categoriaProduto">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let row">{{ row.categoriaProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="nomeProduto">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nomeProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="descProduto">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let row">{{ row.descProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="precoUnitario">
        <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
        <td mat-cell *matCellDef="let row">{{ row.precoUnitario }}</td>
      </ng-container>

      <ng-container matColumnDef="comissaoProduto">
        <th mat-header-cell *matHeaderCellDef>Comissão do Vendedor</th>
        <td mat-cell *matCellDef="let row">{{ row.comissaoProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="quantidadeEstoque">
        <th mat-header-cell *matHeaderCellDef>Quantidade em Estoque</th>
        <td mat-cell *matCellDef="let row">{{ row.quantidadeEstoque }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.idProduto }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.idProduto }}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
