form{
    text-align: center;
    width: 70%;
    margin: 2rem auto
}

h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4.5rem;
}
.adicionaServico{
    width: 100%;
}

.buttons{
    text-align: start;
}

button{
    margin-right: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}