<div class="content">
    <div class="title">
        <h1>
            Clientes
        </h1>
    </div>
    <button mat-raised-button (click)="irParaClientesCreate()" color="primary">Novo Cliente</button>
    <div class="mat-elevation-z8 content-table">
        <table class="tabela" mat-table [dataSource] = "clienteslista">
            <ng-container matColumnDef="nomeCliente">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let row"> {{ row.nomeCliente }} </td>
            </ng-container>

            <ng-container matColumnDef="telefoneCliente">
              <th mat-header-cell *matHeaderCellDef> Telefone </th>
              <td mat-cell *matCellDef="let row"> {{ row.telefoneCliente }} </td>
            </ng-container>

            <ng-container matColumnDef="aniversarioCliente">
              <th mat-header-cell *matHeaderCellDef> Aniversário </th>
              <td mat-cell *matCellDef="let row"> {{ row.aniversarioCliente }} </td>
            </ng-container>
          
            <ng-container matColumnDef="acoes">
              <th class="mat-header" mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let row">
                  <a class="edit" routerLink="update/{{row.idCliente}}">
                      <i class="material-icons">edit</i>
                  </a>
                  <a class="delete" routerLink="delete/{{row.idCliente}}">
                    <i class="material-icons">delete</i>
                </a>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </div>
      
</div>
