.home{
    width: 95%;
    margin: 1rem auto;
    background-color: #333;
    color:white
}

@media (max-width: 460px){
    .home{
        width: 70%
    }
}

@media (max-width: 770px){
    .home{
        width: 80%
    }
}